:root {
    --info-font: 1.1rem;
    --img-height: 13rem;
    --img-width: 13rem;
    --img-shadow: 0 8px 6px -6px black;
    --btn-bg-color: rgba(19, 87, 110, 0.95);
    --btn-font-color: #fff;
}

.address-info {
    font-size: var(--info-font);
}

.mapped-images {
    height: var(--img-height);
    width: var(--img-width);
    box-shadow: var(--img-shadow);
}

.toggle-info {
    height: 1.5rem;
    background-color: var(--btn-bg-color);
    color: var(--btn-font-color);
    transition: height 700ms;
}

.toggle-info:hover {
    cursor: pointer;
    height: 2.5rem;
}